# Игнорировать все файлы в каталоге idea
.idea/*

# Игнорировать все файлы с расширением .iml
*.iml

# Игнорировать все файлы в каталоге target
target/*

# Игнорировать все файлы компиляции .class
*.class

# Игнорировать все файлы с расширением .log
*.log

# Игнорировать журнал сбоев виртуальной машины
hs_err_pid*